:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #3a5757;
}


img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;

    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.05);
}


a {
    text-decoration: none;
    width: 130px;
    background-color: #ffcd00;
    padding: 0.75rem 1.5rem;
    border: 2px solid currentColor;
    border-radius: 8px;
    color: #000;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    opacity: 0.85;
}



nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #7e9e9b;
    margin-top: 0px;
    border: solid black 2px;
    border-radius: 70px;
}


.ttu {
    display: grid;
    gap: 2rem;
    margin: 3rem auto;
    padding: 2rem;
    max-width: 400px;
    background-color: #7e9e9b;
    border: 6px solid #7e9e9b;
    border-radius: 12px;

    text-align: center;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}


.container_field {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 3rem;
    max-width: 1200px;
    margin: 2rem auto;

}

.container1,
.container2 {
    background-color: #bccec2;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 1.5rem;
}

.button {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    background-color: #ffcd00;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

.card_columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.card_rows {
    display: contents;
}


.card_rows button {
    height: 160px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 12px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_rows button.selected {
    outline: 4px solid #ffcd00;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.card-svg {
    width: 42px;
    height: auto;
}

.sets-row {
    display: flex;

    gap: 2rem;
    margin-top: 2rem;
}

.setblok {
    flex: 1;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #7e9e9b;

}


.geel {
    background-color: #ffcd00;

}

.keiGrijs {
    background-color: #7e9e9b;
}