:root {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    height: 50px;
    background-color: #bccec2;
    padding: 1rem 2rem;
    border: 1px solid currentColor;
}

.geel {
    background-color: #ffcd00;
}

nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 25rem;
}

#topper {
    margin-bottom: 5rem;
}

body {
    background-color: #3a5757;
}

.ttu {
    display: grid;
    grid-template-columns: 2fr;
    gap: 5rem;
}