:root {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    width: 125px;
    height: 30px;
    background-color: #bccec2;
    padding: 1rem 2rem;
    border: 1px solid currentColor;
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    margin-top: -7px;
    background-color: #7e9e9b;
    border: solid 2px black;
    border-radius: 2rem;


}

.geel {
    background-color: #ffcd00;
}

.keiGrijs {
    background-color: #7e9e9b;
}

nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 25rem;
}

#topper {
    margin-bottom: 5rem;

}

body {
    background-color: #3a5757;
}

.ttu {
    display: grid;
    grid-template-columns: 2fr;
    gap: 5rem;
}

body {
    background-color: #3a5757;
    font-family: sans-serif;
}

.container {
    background-color: #bccec2;
    padding: 2rem;
    border: 2px solid currentColor;
    border-radius: 20px;
    max-width: 900px;
    margin: 2rem auto;
    text-align: left;
}

.container1 {
    background-color: #bccec2;
    padding-top: 2rem;
    padding-left: 2rem;
    border: 2px solid currentColor;
    border-radius: 20px;
    max-width: 900px;

    text-align: left;
}

.container2 {
    background-color: #bccec2;
    padding-top: 2rem;
    border: 2px solid currentColor;
    border-radius: 20px;
    width: 900px;
    height: 400px;

}

.container_field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18rem;

}

.card_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.card_rows {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5rem;
}

.card_rows,
button {
    height: 50px;
    width: 75%;
}


#leftie {}



.sets-row {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

.setblok {
    flex: 1;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #7e9e9b;
    border-radius: 10px;
}

.rulesbutton {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.rulesbutton a {
    text-decoration: none;
    background-color: #ffcd00;
    padding: 1rem 2rem;
    border: 1px solid currentColor;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}